**/bin/
**/obj/
.vs/
test-results/
发布版/
论文投稿管理助手-便携版/
论文投稿管理助手-便携版.zip
*.user
*.suo
outputs/
便携版-*/
目录/
*.zip
!论文投稿管理助手-折叠论文列表版.zip
!论文投稿管理助手-0.1.2.zip
!论文投稿管理助手-0.1.3.zip
*.db
*.db-*
*.psmdata
**/数据目录位置.txt
**/attachments/
**/backups/
